<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if admin_signed_in? %>
      <nav>
        <%= link_to "Admin Home", admin_root_path %>
        <%= link_to "Logout", destroy_admin_session_path, method: :delete %>
      </nav>
    <% else %>
      <nav>
        <%= link_to "Admin Login", new_admin_session_path %>
      </nav>
    <% end %>

    <%= yield %>
  </body>
</html>
